<p style="font-size:0.75em">Workshop content created by <a href="https://example.com/">xxxxxx</a>, with support from the <a href="https://scds.ca\">Lewis & Ruth Sherman Centre for Digital Scholarship</a> and the McMaster <a href="https://cress.mcmaster.ca\">Centre for Research in Empirical Social Sciences (CRESS)</a>.</p>

<img src="https://github.com/scds/bits-and-pieces/blob/main/SSHRC-cropped.png?raw=true" alt="SSHRC Logo" width="150"> 

<p style="font-size:0.75em">The Relevant Research Series is generously funded by the <a href="https://www.sshrc-crsh.gc.ca/">Social Sciences and Humanities Research Council</a>.</p>